<!DOCTYPE html>
<head>
  <title>Valearnis Assignment</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/chat.js"></script>
</head>


<body>

    <div class="image-container">
      <h3>Your matching image created by Dall-E</h3>
    </div>

  <div class="chat-container">
      <h1>Hi! I am Eureka!</h1>
      <form id="chat-form">
        <input
          type="text"
          id="user-input"
          name="user_input"
          placeholder="Please type your question here! I will try my best to answer it..."
        />
        <button type="submit" id="submitBtn">Send</button>
      </form>
      <div id="result"></div>
    </div>
</body>
